.wholeSocketDiv {
    position: absolute;
    top: 25%;
    left: 17%;
    margin-top: -50px;
    border: solid gray 2px;
    border-radius: 25px;
    padding: 10px;
    /* margin-left: -50px; */
    width: 60%;
    height: 80%;
}

.messageLog {
    height: 75%;
    overflow-y: auto;
}

#webSocketForm{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.webSocketButton:enabled {
    width: 7%;
    height: 50px;
    cursor: pointer;
}

.webSocketButton:disabled {
    width: 7%;
    height: 50px;
}

.webSocketButton > img {
    width: 100%;
}

#webSocketForm > input {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    border: lightgray solid 1px;
}

.messageAboveMessageLog {
    border-bottom: solid gray 1px;
    /* font-style: italic; */
    font-weight: bold;
}

.myLogsDiv {
    border: black 2px solid;
    border-radius: 10px;
    padding: 25px;
}

.myLogsDiv > h1, .chatLogDiv > h1 {
    border-bottom: gray 1px solid;
    text-align: center;
}

.messageMyLog {
    overflow-y: auto;
    max-height: 340px;
    max-width: 600px;
    min-width: 400px;
    min-height: 200px;
}

.chatLogDiv {
    border: black 2px solid;
    border-radius: 10px;
    padding: 25px;
}

.chatLog {
    overflow-y: auto;
    max-height: 340px;
    max-width: 600px;
    min-width: 400px;
    min-height: 200px;
}

.wholeSocketDiv > button {
    background-color: #1877f2;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
