.comments {
    border: lightgrey solid 1px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.postModalHomePage {
    max-width: 680px;
    max-height: 800px;
    z-index: 2;
    overflow-y: auto;
}

.postModalName {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.photoPostModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentPostModal {
    display: flex;
    justify-content: end;
}


.postAndSubmitComment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    margin-top: 30px;

}

#postComment > .postAndSubmitComment > input {
    border-radius: 25px;
    border: lightgray solid 1px;
    padding-left: 10px;
    width: 80%;
    height: 40px;
    font-size: 18px;
}


.submitButtonCommentDiv > button:enabled {
    cursor: pointer;
}

.submitButtonCommentDiv > button > img,
#editCommentForm > button > img {
    height: 40px;
}

.wholeEachComment {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    border-radius: 25px;
}

.commentCountPostModal {
    margin: 10px;
}

.namesEachComment {
    font-weight: bold;
}

#editCommentForm {
    display: flex;
    max-width: 90%;
}

#editCommentForm > input {
    border-radius: 25px;
    border: lightgray solid 1px;
    padding-left: 10px;
    width: 525px;
    height: 37px;
}

#editCommentForm > button:enabled {
    border: none;
    width: fit-content;
    height: 37px;
    cursor: pointer;
}

.editCommentDiv > button, .deleteCommentSection > button {
    border: none;
    background-color: lightgray;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.editAndDeleteButtonsComment > .editACommentButton {
    border: none;
    margin-right: 5px;
    color: blue;
    background-color: lightgray;
    cursor: pointer;
}

.editAndDeleteButtonsComment > .deleteACommentButton {
    border: none;
    color: red;
    background-color: lightgray;
    cursor: pointer;
}

#deleteCommentForm > button {
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: lightgray;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

#deleteCommentForm > div {
    font-weight: bold;
}
