.postTileHomePage {
    width: 680px;
    max-height: 831px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
}

.postUploadDiv > img {
    max-width: 680px;
    max-height: 625px;
}

.post-dropdown {

    position: absolute;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 1;
    right: 300px;
    padding-right: 50px;
    padding-top: 20px;
    width: 240px;
    border-radius: 10px;
  }
